<script>
  function makeRelativeUrlMarketAware(relativeUrl) {
    let formattedRelativeUrl = relativeUrl;
  
    if (relativeUrl.charAt(0) === '/') {
      // Check if the first character is a "/" if true Remove the first character
      formattedRelativeUrl = relativeUrl.substring(1);
    }
    const shopifyRootRoute = window.Shopify.routes.root;
  
    // If a store does not have a shopify routes.root key on their object we 
    // default to the primary route and console log, as things might not be 
    //market aware.
    if (shopifyRootRoute) {
      // Set the route with the market aware param
      const marketAwareRoute = `${shopifyRootRoute}${formattedRelativeUrl}`;
      return marketAwareRoute;
    } else {
      // Log that there is no root object, return primary market default
      console.error(
        'The shopify root route for the store is undefined or null, check that their theme as not reassign the Shopify.routes object. Using the primary market slug.'
      );
      return `/${formattedRelativeUrl}`;
    }
  }
  /**
   * Get content by URL and append it to the DOM
   * @param {String} method
   * @param {String} url
   * @param {String} appendTo
  **/
  function appendContent(method, url, appendTo) {
    return new Promise(function (resolve, reject) {
      let xhr = new XMLHttpRequest();
      xhr.open(method, url);
      xhr.onload = function () {
        if (this.status >= 200 && this.status < 300) {
          document.getElementById(appendTo).innerHTML = this.responseText;
          nodeScriptReplace(document.getElementById(appendTo));
          return resolve(true);
        } else {
          reject({
            status: this.status,
            statusText: xhr.statusText
          });
        }
      };
      xhr.send();
    });
  }

  function nodeScriptReplace(node) {
    if (nodeScriptIs(node) === true) {
      node.parentNode.replaceChild(nodeScriptClone(node), node);
    }
    else {
      var i = -1, children = node.childNodes;
      while (++i < children.length ) {
        nodeScriptReplace( children[i] );
      }
  }
    return node;
  }

  function nodeScriptClone(node){
    var script  = document.createElement("script");
    script.text = node.innerHTML;

    var i = -1, attrs = node.attributes, attr;
    while ( ++i < attrs.length ) {
      script.setAttribute( (attr = attrs[i]).name, attr.value );
    }
    return script;
  }

  function nodeScriptIs(node) {
    return node.tagName === 'SCRIPT';
  }
</script>

{% assign wsgUrl = page.url | split:"/" | last %}
{% case wsgUrl %}
  {% when 'ws-account-create' %}
    <div id="wsg-account-create" class='wsg-proxy-container'></div>

    <script>
      wsgRunSignup = true;
      wsgRunProxy = true;

      async function doAjax() {
        // await code here
        await appendContent("GET", makeRelativeUrlMarketAware('/a/wsg/proxy/ws-account-create'), "wsg-account-create");
        setTexts();
      }
      document.addEventListener("DOMContentLoaded", function () {
        doAjax();
      }, { once: true });

      function setTexts() {
        var wsgPageTitle = {{ page.title | json | replace: '</', '<\/' }} || '';
        var wsgPageContent = {{ page.content | json | replace: '</', '<\/' }} || '';
        document.getElementById('wsg-title').innerHTML = wsgPageTitle;

        const wsgDefaultPageContent = 'Wholesale Gorilla';
        if (wsgPageContent.indexOf(wsgDefaultPageContent) === -1) {
          document.getElementById('wsg-account-create-message').innerHTML = wsgPageContent;
        }
      }
    </script>

  {% when 'ws-account-login' %}
    <div id="wsg-login" class='wsg-proxy-container'></div>

    <script>
      async function doAjax() {
        // await code here
        await appendContent("GET", makeRelativeUrlMarketAware('/a/wsg/proxy/ws-account-login'), "wsg-login");
        setTexts();

      }
      document.addEventListener("DOMContentLoaded", function () {
        doAjax();
      }, { once: true });
      
      function setTexts() {
        var wsgPageTitle = {{ page.title | json | replace: '</', '<\/' }} || '';
        var wsgPageContent = {{ page.content | json | replace: '</', '<\/' }} || '';
        document.getElementById('wsg-title').innerHTML = wsgPageTitle;

        const wsgDefaultPageContent = 'Wholesale Gorilla';
        if (wsgPageContent.indexOf(wsgDefaultPageContent) === -1) {
          document.getElementById('wsg-login-desc').innerHTML = wsgPageContent;
        }
      }
    </script>

  {% when 'ws-quick-order-form' %}
    <div id="wsg-quick-order-form" class='wsg-proxy-container'></div>
    <script>
      //includes polyfill
      if (!String.prototype.includes) {
        String.prototype.includes = function(search, start) {
          'use strict';
          if (typeof start !== 'number') {
            start = 0;
          }

          if (start + search.length > this.length) {
            return false;
          } else {
            return this.indexOf(search, start) !== -1;
          }
        };
      }

      var wsgRunSinglePageV2 = true;
      wsgRunProxy = true;
      var wsgProdArraySP = [];
      var wsgProdIndex = 0;
      var wsgDataSPTemp;
      var wsgCartItems = {{ cart.items | json | replace: '</', '<\/' }}

      const wsgUrlSearchParams = new URLSearchParams(window.location.search);
      const wsgUrlParams = Object.fromEntries(wsgUrlSearchParams.entries());
      const wsgQs = new URLSearchParams(wsgUrlParams).toString();
      let wsgReqUrl = makeRelativeUrlMarketAware('/a/wsg/proxy/ws-quick-order-form');
      if(wsgQs) wsgReqUrl += '?' + wsgQs;

      var wsgCollectionId = wsgUrlParams.id || 0 //current collection id
      var wsgPage = wsgUrlParams.page || 1; //index of current page in product loop pagination

      document.addEventListener('DOMContentLoaded', async function () {
        await appendContent('GET', wsgReqUrl, 'wsg-quick-order-form');
        setTexts();
      }, { once: true })

      function setTexts() {
        var wsgPageTitle = {{ page.title | json | replace: '</', '<\/' }} || '';
        var wsgPageContent = {{ page.content | json | replace: '</', '<\/' }} || '';
        document.getElementById('wsg-title').innerHTML = wsgPageTitle;

        const wsgDefaultPageContent = 'Wholesale Gorilla';
        if (wsgPageContent.indexOf(wsgDefaultPageContent) === -1) {
          document.getElementById('wsg-quick-order-message').innerHTML = wsgPageContent;
        }
      }
    </script>
  {% when 'ws-cart' %}
    <script>
      window.wsgRunCart = true;
      window.wsgRunProxy = true;
      window.wsgCurrency = {{ shop.currency | json }};
      window.wsgCustomerId = {{ customer.id | json | replace: '</', '<\/' }};
      window.wsgCustomerAddresses = {{ customer.addresses | json | replace: '</', '<\/' }};
      window.wsgCart = {{ cart | json | replace: '</', '<\/' }};
      window.wsgShopCountry = {{ shop.address.country | json | replace: '</', '<\/' }};
      window.wsgShopLang = {{ request.locale.iso_code | json }};
    </script>

    {% section 'main-cart-items' %}
  {% when 'ws-proxy' %}
    <div id='wsg-proxy-content' class='wsg-proxy-container'></div>
    <script>
      document.addEventListener('DOMContentLoaded', async function () {
        const wsgUrlSearchParams = new URLSearchParams(window.location.search);

        let wsgProxyUrl = wsgUrlSearchParams.get('proxyUrl');
        if(!wsgProxyUrl) return;

        const wsgUrlParams = Object.fromEntries(wsgUrlSearchParams.entries());
        const wsgQs = new URLSearchParams(wsgUrlParams).toString();
        if(wsgQs) wsgProxyUrl += '?' + wsgQs;

        // await code here
        await appendContent('GET', wsgProxyUrl, 'wsg-proxy-content');
      }, { once: true });
    </script>
{% endcase %}
